[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
certifi = "*"
click = "*"
configparser = "*"
decorator = "*"
"enum34" = "*"
future = "*"
futures = "*"
"gax-google-logging-v2" = "*"
"gax-google-pubsub-v1" = "*"
gcloud = "*"
geopy = "*"
google-gax = "*"
googleapis-common-protos = "*"
"grpc-google-logging-v2" = "*"
"grpc-google-pubsub-v1" = "*"
grpcio = "*"
"httplib2" = "*"
itsdangerous = "*"
jws = "*"
matplotlib = "*"
nltk = "*"
nose = "*"
numpy = "*"
"oauth2" = "*"
"oauth2client" = "*"
ply = "*"
praw = "*"
protobuf = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycryptodome = "*"
pymongo = "*"
pyowm = "*"
pyparsing = "*"
python-dateutil = "*"
python-google-places = "*"
pytz = "*"
pywsd = "*"
requests = "*"
requests-toolbelt = "*"
rsa = "*"
six = "*"
timezonefinder = "*"
virtualenv = "*"
yelp = "*"
BeautifulSoup = "*"
Cycler = "*"
Django = "*"
Flask = "*"
Flask-Cors = "*"
"Jinja2" = "*"
MarkupSafe = "*"
Pyrebase = "*"
python_jwt = "*"
update_checker = "*"
Werkzeug = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "2.7"
